Soft.Application/obj/
Soft.Domain/obj/
Soft.Infra.Data/obj/
Soft.Infra.IoC/obj/
Test.Domain/obj/
Soft.Wpf/obj/
Soft.Entities/obj/

.vs/

Soft.Application/bin/
Soft.Entities/bin/

Soft.Domain.Boostrapper/bin/
Soft.Infra.Data/bin/
Soft.Infra.IoC/bin/
Test.Domain/bin/
Soft.Wpf/bin/Debug/*

#Exeções
!SIC/PDV/bin/Debug/*.sql